{% set MONTHS = {
    "01":"января",
    "02":"февраля",
    "03":"марта",
    "04":"апреля",
    "05":"мая",
    "06":"июня",
    "07":"июля",
    "08":"августа",
    "09":"сентября",
    "10":"октября",
    "11":"ноября",
    "12":"декабря",
} %}


{% embed '../../ui/card/card.twig' %}
    {% block CONTENT %}
        <table style="width: 100%; font-size: 14px;">
            <tr>
                <td>
                    <p style="
                              font-size: 17px;
                              font-weight: bold;"
                    >Ваш маршрут</p>
                </td>
            </tr>
            <tr><td>&nbsp;</td></tr>
        </table>
            {% for route in routes %}
                {% if route|length == 1 %}
                    {% set FIRST_SEGMENT = route|first %}
                    {% set SEGMENT = {
                        "date_dep": FIRST_SEGMENT.date_dep,
                        "date_arr": FIRST_SEGMENT.date_arr,
                        "city_dep": FIRST_SEGMENT.dep_city,
                        "city_arr": FIRST_SEGMENT.arr_city
                    } %}
                {% else %}
                    {% set FIRST_SEGMENT = route|first %}
                    {% set LAST_SEGMENT = route|last %}
                    {% set SEGMENT = {
                        "date_dep": FIRST_SEGMENT.date_dep,
                        "date_arr": LAST_SEGMENT.date_arr,
                        "city_dep": FIRST_SEGMENT.dep_city,
                        "city_arr": LAST_SEGMENT.arr_city
                    } %}
                {% endif %}
                <table style="width: 100%; font-size: 14px;">
                    <tr class="rowDesktop">
                        <td style="font-weight: bold">
                            {% if SEGMENT.date_dep == SEGMENT.date_arr %}
                                {{ SEGMENT.date_dep|date("d") ~ ' ' ~ MONTHS[SEGMENT.date_dep|date("m")] ~ ' ' ~ SEGMENT.date_dep|date("Y")}}:
                                {% else %}
                                    {% if SEGMENT.date_dep|date("Y") == SEGMENT.date_arr|date("Y") %}
                                        {% if SEGMENT.date_dep|date("m") == SEGMENT.date_arr|date("m") %}
                                                {{ SEGMENT.date_dep|date("d") ~ ' - ' ~ SEGMENT.date_arr|date("d") ~ ' ' ~ MONTHS[SEGMENT.date_arr|date("m")] ~ ' ' ~ SEGMENT.date_arr|date("Y")}}:
                                            {% else %}
                                                {{ SEGMENT.date_dep|date("d") ~ ' ' ~ MONTHS[SEGMENT.date_dep|date("m")] ~ ' - ' ~ SEGMENT.date_arr|date("d") ~ ' ' ~ MONTHS[SEGMENT.date_arr|date("m")] ~ ' ' ~ SEGMENT.date_arr|date("Y")}}:
                                        {% endif %}
                                    {% else %}
                                        {{ SEGMENT.date_dep|date("d") ~ ' ' ~ MONTHS[SEGMENT.date_dep|date("m")] ~ ' ' ~ SEGMENT.date_dep|date("Y") ~ ' - ' ~ SEGMENT.date_arr|date("d") ~ ' ' ~ MONTHS[SEGMENT.date_arr|date("m")] ~ ' ' ~ SEGMENT.date_arr|date("Y")}}:
                                    {% endif %}
                            {% endif %}
                            {{ SEGMENT.city_dep ~ ' - ' ~ SEGMENT.city_arr }}
                        </td>
                        <td style="text-align: right;">
                            {% for segment in route %}
                                {{ segment.carrier_title ~ ', ' ~ segment.carrier_code ~ '-' ~ segment.flight_number }}{{ (loop.index != route|length) ? ';' : '' }}
                            {% endfor %}
                        </td>
                    </tr>

                    <tr class="rowMobile">
                        <td style="font-weight: bold">
                            {% if SEGMENT.date_dep == SEGMENT.date_arr %}
                                {{ SEGMENT.date_dep|date("d") ~ ' ' ~ MONTHS[SEGMENT.date_dep|date("m")] ~ ' ' ~ SEGMENT.date_dep|date("Y")}}:
                            {% else %}
                                {% if SEGMENT.date_dep|date("Y") == SEGMENT.date_arr|date("Y") %}
                                    {% if SEGMENT.date_dep|date("m") == SEGMENT.date_arr|date("m") %}
                                        {{ SEGMENT.date_dep|date("d") ~ ' - ' ~ SEGMENT.date_arr|date("d") ~ ' ' ~ MONTHS[SEGMENT.date_arr|date("m")] ~ ' ' ~ SEGMENT.date_arr|date("Y")}}:
                                    {% else %}
                                        {{ SEGMENT.date_dep|date("d") ~ ' ' ~ MONTHS[SEGMENT.date_dep|date("m")] ~ ' - ' ~ SEGMENT.date_arr|date("d") ~ ' ' ~ MONTHS[SEGMENT.date_arr|date("m")] ~ ' ' ~ SEGMENT.date_arr|date("Y")}}:
                                    {% endif %}
                                {% else %}
                                    {{ SEGMENT.date_dep|date("d") ~ ' ' ~ MONTHS[SEGMENT.date_dep|date("m")] ~ ' ' ~ SEGMENT.date_dep|date("Y") ~ ' - ' ~ SEGMENT.date_arr|date("d") ~ ' ' ~ MONTHS[SEGMENT.date_arr|date("m")] ~ ' ' ~ SEGMENT.date_arr|date("Y")}}:
                                {% endif %}
                            {% endif %}
                            {{ SEGMENT.city_dep ~ ' - ' ~ SEGMENT.city_arr }}
                        </td>
                    </tr>
                    <tr class="rowMobile">
                        <td>
                            {% for segment in route %}
                                {{ segment.carrier_title ~ ', ' ~ segment.carrier_code ~ '-' ~ segment.flight_number }}{{ (loop.index != route|length) ? ';' : '' }}
                            {% endfor %}
                        </td>
                    </tr>

                    <tr><td>&nbsp;</td></tr>
                    {% for segment in route %}
                        {% if (route|length > 1 and loop.index != 1) %}
                            <tr>
                                <td colspan="2">
                                    <p style="color: #5c6f80; margin-bottom: 0">
                                        {{ 'Пересадка в '}}{{ segment.air_dep_title == segment.dep_city ? (segment.air_dep_title ~ ', ' ~ segment.country_dep) : (segment.air_dep_title ~ ', ' ~ segment.dep_city ~ ', ' ~ segment.country_dep) }}
                                    </p>
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td colspan="2">
                                <p style="margin-bottom: 0">
                                    <span style="padding-right: 30px;">{{ segment.time_dep }}</span>
                                    <span>{{ segment.air_dep_title == segment.dep_city ? segment.air_dep_title : segment.dep_city ~ ', ' ~ segment.air_dep_title }}</span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <p style="margin-bottom: 0">
                                    <span style="padding-right: 30px;">{{ segment.time_arr }}</span>
                                    <span>{{ segment.air_arr_title == segment.arr_city ? segment.air_arr_title : segment.arr_city ~ ', ' ~ segment.air_arr_title }}</span>
                                </p>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% embed '../../ui/separator/separator.twig' %}{% endembed %}
            {% endfor %}
        {% embed './passengers.twig' %}{% endembed %}
    {% endblock %}
{% endembed %}
