{% set TEXT_BUTTON_LABEL= 'Оплатить' %}

{% embed '../../ui/card/card.twig' %}
    {% block CONTENT %}
        <table style="width: 100%; font-size: 14px;">
            <tr>
                <td>
                    <p style="
                      margin-bottom: 25px;
                      font-size: 17px;
                      font-weight: bold;"
                    >Общая стоимость билетов</p>
                </td>
            </tr>
            <tr style="font-weight: 600;">
                <td><p style="margin-bottom: 17px;">Авиабилеты</p></td>
                <td style="text-align: right; width: 100px;">{{ prices.tickets.total ~ ' ₽' }}</td>
            </tr>
            <tr>
                <td><p style="margin-bottom: 11px;">Тариф</p></td>
                <td style="text-align: right;">{{ prices.tickets.tariff ~ ' ₽' }}</td>
            </tr>
            <tr>
                <td><p style="margin-bottom: 11px;">Таксы</p></td>
                <td style="text-align: right;">{{ prices.tickets.taxes ~ ' ₽' }}</td>
            </tr>
            <tr>
                <td><p style="margin-bottom: 11px;">Сборы</p></td>
                <td style="text-align: right;">{{ prices.tickets.fees ~ ' ₽' }}</td>
            </tr>
            {% if prices.insurances %}
                <tr style="font-weight: 600;">
                    <td><p style="margin: 23px 0;">Страхование</p></td>
                    <td style="text-align: right;">{{ prices.insurances ~ ' ₽' }}</td>
                </tr>
            {% endif %}

            {% if prices.additional_services is not empty %}
                {% if prices.additional_services.total %}
                    <tr style="font-weight: 600;">
                        <td><p style="margin-bottom: 17px;">Дополнительные услуги</p></td>
                        <td style="text-align: right;">{{ prices.additional_services.total ~ ' ₽' }}</td>
                    </tr>
                    {% if prices.additional_services.aeroexpress %}
                        <tr>
                            <td><p style="margin-bottom: 11px;">Аэроэкспресс в аэропорт</p></td>
                            <td style="text-align: right;">{{ prices.additional_services.aeroexpress ~ ' ₽' }}</td>
                        </tr>
                    {% endif %}
                    {% if prices.additional_services.FlightChangesNotification %}
                        <tr>
                            <td><p style="margin-bottom: 11px;">Уведомления об отмене или переносе рейса</p></td>
                            <td style="text-align: right;">{{ prices.additional_services.FlightChangesNotification ~ ' ₽' }}</td>
                        </tr>
                    {% endif %}
                    {% if prices.additional_services.GuaranteeReturnInCaseIllness %}
                        <tr>
                            <td><p style="margin-bottom: 11px;">Гарантия возврата в случае болезни без сервисного сбора</p></td>
                            <td style="text-align: right;">{{ prices.additional_services.GuaranteeReturnInCaseIllness ~ ' ₽' }}</td>
                        </tr>
                    {% endif %}
                {% endif %}
            {% endif %}
        </table>
        {% embed '../../ui/separator/separator.twig' %}{% endembed %}
        <table style="width: 100%; font-size: 14px;">
            <tr style="font-weight: 600;">
                <td>Общая сумма за всех пассажиров</td>
                <td style="text-align: right; width: 100px;">{{ prices.total_price ~ ' ₽' }}</td>
            </tr>
        </table>
    {% endblock %}
{% endembed %}
