<tr>
  <td style="padding:0 24px 16px 24px">
    <table style="width:100%" cellpadding="0" cellspacing="0" border="0" align="left"
           valign="top">
      <tbody>
      <tr>
        <td align="left" style="background:#EF3124;padding:8px 16px;border-radius:7px 7px 0 0">
          <p style="font-family:'Styrene B LC', Helvetica, 'Open Sans', Arial, Verdana;font-size:14px;font-weight:400;line-height:16.8px;color:#fff;text-align:left;margin:0;padding:0;white-space:nowrap">Место отдыха<span style="font-family:'Styrene B LC', Helvetica, 'Open Sans', Arial, Verdana;font-size:12px;font-weight:400;line-height:14px;color:rgba(255, 255, 255, 0.4);text-align:left;margin:0;padding:0;white-space:nowrap">/Vacation spot</span></p>
        </td>
      </tr>
      <tr>
        <td style="padding:0 15px;display:flex;align-items:flex-start;flex-wrap:wrap;justify-content:flex-start;border-left:1px solid rgba(0, 0, 0, 0.1);border-bottom:1px solid rgba(0, 0, 0, 0.1);border-right:1px solid rgba(0, 0, 0, 0.1);border-radius:0 0 7px 7px;padding-left:14px;padding-right:14px;padding-top:0;padding-bottom:16px">
          <table cellpadding="0" cellspacing="0" border="0" align="left" valign="top">
            <tbody>
            <tr>
              <td style="display:flex;flex-wrap:wrap">
                <table style="min-width:200px;max-width:200px;height:min-content;padding-top:16px;padding-right:20px"
                       cellpadding="0" cellspacing="0" border="0" align="left" valign="top">
                  <tbody>
                  <tr>
                    <td align="left" style="padding-bottom:10px;white-space:nowrap">
                      <p style="font-family:'Styrene B LC', Helvetica, 'Open Sans', Arial, Verdana;font-size:10px;font-weight:400;line-height:12px;color:#0b1f35;text-align:left;margin:0;padding:0;white-space:nowrap">
                        Место отдыха
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td style="display:flex;align-items:center"><p style="font-family:'Styrene B LC', Helvetica, 'Open Sans', Arial, Verdana;font-size:14px;font-weight:500;line-height:16.8px;color:#0b1f35;text-align:left;text-transform:uppercase;margin:0;padding:0">{{ tour.country }}, {{ tour.city }}</p>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <table style="min-width:unset;max-width:226px;height:min-content;padding-top:16px;padding-right:45px"
                       cellpadding="0" cellspacing="0" border="0" align="left" valign="top">
                  <tbody>
                  <tr>
                    <td align="left" style="padding-bottom:10px;white-space:nowrap">
                      <p style="font-family:'Styrene B LC', Helvetica, 'Open Sans', Arial, Verdana;font-size:10px;font-weight:400;line-height:12px;color:#0b1f35;text-align:left;margin:0;padding:0;white-space:nowrap">
                        Даты путешествия
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td style="display:flex;align-items:center"><span style="font-family:'Styrene B LC', Helvetica, 'Open Sans', Arial, Verdana;font-size:14px;font-weight:500;line-height:16.8px;color:#0b1f35;text-align:left;text-transform:uppercase;margin:0;padding:0;pointer-events:none;">{{ tour.date_from }} &mdash; {{ tour.date_to }}</span>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <table style="min-width:unset;max-width:180px;height:min-content;padding-top:16px;"
                       cellpadding="0" cellspacing="0" border="0" align="left" valign="top">
                  <tbody>
                  <tr>
                    <td align="left" style="padding-bottom:10px;white-space:nowrap">
                      <p style="font-family:'Styrene B LC', Helvetica, 'Open Sans', Arial, Verdana;font-size:10px;font-weight:400;line-height:12px;color:#0b1f35;text-align:left;margin:0;padding:0;white-space:nowrap">
                        Количество ночей
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td style="display:flex;align-items:center">
                      <span style="font-family:'Styrene B LC', Helvetica, 'Open Sans', Arial, Verdana;font-size:14px;font-weight:500;line-height:16.8px;color:#0b1f35;text-align:left;text-transform:uppercase;margin:0;padding:0;pointer-events:none;">
                        {{ tour.nights_count }}
                      </span>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
