{% set TEXT_BUTTON_LABEL= 'Оплатить' %}

{% embed '../../ui/card/card.twig' %}
    {% block CONTENT %}
        <table style="width: 100%;">
            <tr>
                <td>
                    <p style="
                      height: 24px;
                      font-size: 18px;
                      font-weight: 600;
                      text-align: center;
                      color: #181f34;"
                    >Поездка забронирована!</p>
                    <p>{{ app.request.headers }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Благодарим за ваше бронирование. Рекомендуем оплатить бронирование как можно быстрее, поскольку авиакомпания имеет право изменить стоимость или снять места в любое время до оплаты и выписки билета.</p>
                </td>
            </tr>
        </table>
        <table class="desktop"  style="width: 100%;">
            <tr style="text-align:left; font-size: 12px; font-weight: 600;">
                <th>Номер бронирования</th>
                <th>Оплатить до</th>
                <th>Статус</th>
            </tr>
            <tr style="text-align:left; font-size: 14px;">
                <td>{{ order.billing_number }}</td>
                <td>{{ order.service_time_limit ~ ' (UTC +3)' }}</td>
                <td>{{ order.status.title }}</td>
            </tr>
        </table>
        <table class="mobile" style="width: 100%;">
            <tr style="text-align:left; font-size: 12px; font-weight: 600;">
                <th>Номер бронирования</th>
            </tr>
            <tr style="text-align:left; font-size: 14px;">
                <td>{{ order.billing_number }}</td>
            </tr>
            <tr style="text-align:left; font-size: 12px; font-weight: 600;">
                <th>Оплатить до</th>
            </tr>
            <tr style="text-align:left; font-size: 14px;">
                <td>{{ order.service_time_limit ~ ' (UTC +3)' }}</td>
            </tr>
            <tr style="text-align:left; font-size: 12px; font-weight: 600;">
                <th>Статус</th>
            </tr>
            <tr style="text-align:left; font-size: 14px;">
                <td>{{ order.status.title }}</td>
            </tr>
        </table>
        <table  style="width: 100%;">
            <tr style="text-align:center;">
                <td style="padding-top: 24px; font-size: 16px; font-weight: bold">
                    {% embed '../../ui/button/button.twig' with {IS_CENTER: true} %}
                        {% block BUTTON_HREF %}{{ payLink }}{% endblock %}
                        {% block BUTTON_LABEL %}{{ TEXT_BUTTON_LABEL ~ ' ' ~ prices.total_price  ~ ' ₽' }}{% endblock %}
                    {% endembed %}
                </td>
            </tr>
        </table>
    {% endblock %}
{% endembed %}
